@{
    ViewBag.Title = "AddPost1";
}
@model ProjectVirtualClassroom.Models.Posts
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <style>
        .side-nav {
            position: fixed;
            top: 51px;
            left: 0px;
            width: 225px;
            /*margin-left: -225px;*/
            border: medium none;
            border-radius: 0px;
            overflow-y: auto;
            background-color: #222;
            bottom: 0px;
            overflow-x: hidden;
            padding-bottom: 40px;
        }

        .navbar-nav {
            float: left;
            margin: 0px;
        }

        .wrapper {
            padding-left: 15px;
            padding-right: 15px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="a">Virtual Classroom</a>
        </div>
        <div>
            <ul class="nav navbar-nav pull-right">
                <li><a href="~/Home/Index">Logout</a></li>
                @*<li><a href="a">About</a></li>
                    <li><a href="a">Team</a></li>
                    <li><a href="a">Contact</a></li>*@
            </ul>
        </div>
        @*</nav>
            <nav>*@
        @*<div class="navbar navbar-inverse" role="navigation">*@
        <div>
            <ul class="nav navbar-nav side-nav list-groups">
                <li><a href="~/TeacherClassroom/Home">Home</a></li>
                <li><a href="~/TeacherClassroom/QnA">Questions &Answers</a></li>
                <li class="active"><a href="~/TeacherClassroom/AddPost">Add Announcement</a></li>
                <li><a href="~/TeacherClassroom/AddAssignment">Add Assignment</a></li>
                <li><a href="~/TeacherClassroom/AllSubmittedAssignment">All Assignment</a></li>
                @*<li><a href="~/Teacher/DeleteClassroom">Delete Classroom</a></li>*@
            </ul>
        </div>
        @*</div>*@
    </nav>
    @*<div class="row">

        <div class="col-sm-4"></div>
        <div class="col-lg-12">*@
            <div align="center">
                <h1 class="page-header">
                    Announcement Added Successfully
                </h1>
            </div>
        @*</div>
    </div>*@
    <div id="page-wrapper">


        <div class="container-fluid">
            <div class="col-sm-4"></div>
            <div class="col-sm-4" style="height:300px; width: 400px;border:solid; border-color:black; border-radius:25px">
                <h3>Announcement Details</h3> <br />
                <h4 style="margin-left:30px"> Name: @Session["ClassEnteredName"]</h4><br />
                <h5 style="margin-left:30px"> Announcement Id: @Session["AddedPostId"]</h5><br />
                <h5 style="margin-left:30px"> Announcement Title: @Session["AddedPostTitle"]</h5><br />
                <h5 style="margin-left:30px"> Announcement Detail: @Session["Detail"]</h5><br />
            </div>
        </div>
    </div>
</body>
</html>

